
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="styles/main.css"> -->

  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
  <title>Blog Post Mainpage</title>
</head>


<body>
    <div class = "titleDiv">
        <h1>Welcome to <strong>BlogHive!</strong></h1>
    </div>


    <div>        
        <form class = "button" action="/view" method="POST">
            <input type="submit" value="View Blog Posts ">
        </form>


        <form class = "button" action="/create" method="POST">
            <input type="submit" value="Create Blog Posts">
        </form>

    </div>
    <img class="profile" src="images/IMG-ALL.jpg" alt="cat profile">
    
</body>


