
<!DOCTYPE html>
<html lang="en">

<%- include("partials/header.ejs") %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">

  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
  <title>Band Generator</title>
</head>


<body>
    <h1>Blog Posts!</h1>
    <div>
        <form class = "button" action="/view" method="POST">
            <input type="submit" value="View Blog Posts ">
        </form>
        <form class = "button" action="/create" method="POST">
            <input type="submit" value="Create Blog Posts">
        </form>

    </div>
    
</body>

<%- include("partials/footer.ejs") %> 

