<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Blog Posts Viewing</title>
</head>

<body>
  <h1>The Blogs List</h1>
  <form class = "buttomForm"  action="/create" method="GET">
    <input class = "button" type="submit" value="Create Another Blog">
</form>
  <% var colors = []%>
  <div class="container">
    <% for(var i = 0; i < count; i++){ %>
      <div class="list-of-Blogs">
        <h2 class="title"><%= blogs[i].blogTitle %></h2>
        <p>By: <%= blogs[i].authorName %> (<%= blogs[i].authorEmail %>)</p>
        <p>&emsp; <%= blogs[i].blogText %></p>
      </div>
    <% } %>
  </div>


</body>

</html>
