html{
    background-color: rgb(255, 238, 215);
  }
    
.container{
    display: flex; 
    justify-content: space-evenly;


}
  #buttonView, #buttonCreate{
    background-color: teal;
    color: white; 
    width: 250px; 
    height: 55px;  
    font-size: large;
    border: 3px solid black; 
  }
   
  .titleDiv{
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

h1{
    text-align: center;
  }

  .imgDiv{
    width: 100%;
    display: flex; 
    text-align: center;
    justify-content: center;
  }

  p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }

  img{
    border: 3px solid black;
  }
  
  @media (max-width: 880px) {
    .list-of-Blogs {
      width: calc(100% - 8px); /* Full width minus the margins */
    }
  }
  
  footer {
    position: absolute;
    bottom: 0;
  }

.header{
    top: 0px;
    height: 50px;
    z-index: 1;
}

.header div{
    text-align: right;
    margin-right: 2.5%;
}

.header div .homeButton{
    background-color: teal;
    width: 80px; 
    height: 27px;
    border: 1.5px solid black;
    color: white;
}

  
  