.container{
  display: inline-flex; 
}

.list-of-Blogs{
  background-color:lightblue;
  position: relative;
  width: 20%;
  border: 2.5px solid black; 
  margin-left: 4px;
  margin-right: 4px;

}

.list-of-Blogs h2, p{
  margin-left: 10px; 
  margin-right: 10px; 
}

.title{
  text-align: center;
}
@media(max-width: 880px){
  .list-of-Blogs{
      width: fit-content;
  }
}